@model List<Chushka.Data.Models.Order>

@{
    ViewData["Title"] = "All Orders";
}

<h1 class="text-center">All Orders</h1>
<hr class="hr-2 bg-dark" />
<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-4">Order ID</th>
            <th class="col-md-2">Customer</th>
            <th class="col-md-2">Product</th>
            <th class="col-md-2">Ordered On</th>
        </tr>
    </thead>
    <tbody>
        @{int index = 1;}
        @foreach (var order in Model)
        {
            <tr class="row">
                <th class="col-md-1">@index</th>
                <td class="col-md-4">@order.Id</td>
                <td class="col-md-2">@order.Client.FullName</td>
                <td class="col-md-2">@order.Product.Name</td>
                <td class="col-md-2">@order.OrderedOn.ToString("HH:mm dd/MM/yyyy")</td>
            </tr>
            index++;
        }
    </tbody>
</table>